html{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{
    min-width: 320px;
    margin: 0; 
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}

header, section{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto; 
    padding: 0;
    overflow-x: hidden;
}

header{
    text-align: center;
}

section{
    word-wrap: break-word;
    text-align: start;
}

p, a, img{
    font-size: 18px;
    line-height: 29px;
    letter-spacing: normal;
    word-wrap: break-word;
    margin: 20px 0;       
}

section .section-content{
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width:320px) and (max-width: 1000px){
    section .section-content{
        padding-right: 45px;
    }
    .section-menu .row:last-child{
        margin-bottom: 40px;
    }
}

.background-color-white{
    background-color: #FFFFFF;
}
.background-color-black{
    background-color: #000000;
}
.background-color-gray{
    background-color: #ECEAEA;
}
.background-color-gray-light{
    background-color: #F9F9F9;
}

.foto-perfil{
    height: 325px;
}

.bio .texto-bio-gabriel-tessarini{
    margin: auto !important;
}

.bio .foto-perfil-gabriel-tessarini{
    text-align: center;
    vertical-align: middle;
}  

.bio .foto-perfil-gabriel-tessarini .foto-perfil{
    margin-bottom: 0px;
}

.bio .contatos-gabriel-tessarini{
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.bio .contatos-gabriel-tessarini a{
    margin: 0px 15px 0px 15px;
}

@media (min-width:320px) and (max-width: 1000px){
    .bio{
        padding-bottom: 20px;
    }   
    .bio .contatos-gabriel-tessarini{
        margin-top: 55px;
    }
    .bio .contatos-gabriel-tessarini a{
        margin: 0px 20px 0px 20px;
    } 
}

@media screen and (max-width: 768px){
    section img{  
        width: 100%;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row > *:first-child {
    margin-top: 0;
}
.row > *:last-child {
    margin-bottom: 0;
}

.row-reverse > *:last-child {
    margin-bottom: 20px;
}

.row-reverse{
    flex-wrap: wrap-reverse;
}

div[class*="col-"] {
    min-height: 1px;
    padding: 0 15px;
}

.col-2{
    margin: 0;
    width: 16.66%;
}

.col-3{
    margin: 0;
    width: 25%;
}
.col-4{
    margin: 0;
    width: 33.3333%;
}
.col-6{
    margin: 0;
    width: 50%;
}
.col-8{
    margin: 0;
    width: 66.6666%;
}
.col-12{
    margin: 0;
    width: 100%;
}

.text-center{
    text-align: center;
}

@media (min-width:320px) and (max-width: 1000px){
    .row{
        display: block;
    }
    div[class*="col-"] {
        width: 100% !important;
        padding: 0 6px;
    }    
    div[class*="col-"]:not(:first-child) {
        margin-top: 20px;
    }
    
}

@media (min-width:320px) and (max-width: 1000px){
    .row-portfolio div[class*="col-"]{
        margin-bottom: 100px;
    }
}

.fixed{
    position: fixed !important;
}

.clear-fix{
    clear: both;
}

a.card-link{
    font-size: unset;
}

.card{
    box-shadow: 0 3px 5px 0 rgb(90 90 90 / 40%);
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 35px 5px;
    text-align: center;
    cursor: pointer;
}

@media (min-width:320px) and (max-width: 1000px){
    .card{
        padding: 10px;
    }
}

.card:hover, .card-link:focus .card{
    box-shadow: 0 4px 16px 0 rgba(112, 112, 112, 0.63); 
}

.card:hover h2{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    transform:scale(1.05);
}

.card.card-without-click{
    cursor: auto;
    padding: 15px 15px 15px 15px;
}

@media (min-width:320px) and (max-width: 1000px){
    .socialSlides .card.card-without-click{
        margin-left: 35px;
        margin-right: 35px;
    }
}

img.livro{
    height: 200px;
}

img.logo{
    width: 150px;
    height: 150px;
}

@media (min-width:320px) and (max-width: 1000px){
    img.logo{
        width: 200px;
        height: 200px;
    }
}

img.icon{
    width: 42px;
    -webkit-filter: drop-shadow(5px 4px 4px rgba(112, 112, 112, 0.33));
    filter: drop-shadow(5px 4px 4px rgba(112, 112, 112, 0.33));
}

footer{
    text-align: center;
}

@media (min-width:320px) and (max-width: 1000px){
    footer p{
        font-size: 10px;
    }
    img.icon{
        width: 75px;
    }
    img.livro{
        height: 300px;
    }
    .section-portfolio#sobre p, .section-menu p{
          margin: 30px 0;  
    }
    p{
        font-size: 27px;
    }
    h3{
        font-size: 29px;
    }
}

footer a, footer img{
    margin-top: 0px;
}


a:link, a:visited, a:focus, a:active{ 
    text-decoration:none; 
    color: inherit;
} 

.section-portfolio a:hover{
    color: #00A0C6;
}

.section-social{
    min-height: 50vh !important;
}

.social-name, .social-content-about, .social-feedback{
    text-align: left;
}

.social-name{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
    
}
.social-content-about{
    color: #514f4f;    
    font-size: 16px;
    margin-top: 0;
}
.social-feedback{
    font-size: 17px;
    margin-bottom: 0;
}
img.social-stars{
    width: 100px;
    height: 20px;
    margin-left: 50%
}

a img.livro:hover{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(112, 112, 112, 0.63); 
}

a img.logo:hover, a img.icon:hover, a .img-artigo:hover{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-filter: drop-shadow(5px 5px 5px rgba(112, 112, 112, 0.63) );
    filter: drop-shadow(5px 5px 5px rgba(112, 112, 112, 0.63));
}

.section-menu, .section-portfolio{
    min-height: 100vh;
    overflow-y: hidden;
}

.section-portfolio{
    padding-bottom: 30px;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 50px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 35px;
}

@media (min-width:320px) and (max-width: 1000px){
    .section-portfolio h1{
        font-size: 75px;
    }
    .section-portfolio h2{
        font-size: 60px;

    }
}

.sinopse-container p{
    transition-property: visibility, opacity, height;
    transition-duration: 0s, 0.7s;
}

.sinopse-container.hidden p, .ver-artigos-container.hidden *, #btn-ver-artigos.hidden, .ver-artigos-titulo.hidden{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition-property: opacity, visibility;
    transition-duration: 0.7s, 0s;
    transition-delay: 0s, 0.7s;
}

.sinopse-container p{
    text-align: left;
}

.btn-ler-sinopse{
    cursor: pointer;
    border-radius: 100px;
    padding: 5px 20px;
    color: #000;
    text-align: center;
    font-size: 16px;
    transition: 0.5s;
}

@media (min-width:320px) and (max-width: 1000px){
    .btn-ler-sinopse{
        font-size: 27px;
    }
}

.btn-ler-sinopse:hover{
    color: #00A0C6;
    padding: 5px 30px;
    transition: 0.5s;
}

.btn-ler-sinopse:active{
    background-color: #00A0C6;
    color: white;
    outline: none;
}

.btn-ler-sinopse:focus-within{
    border-width: 4px;
    background-color: #00A0C6;
    color: white;
    outline: none;
    transition: 0.4s;
}

#btn-ver-artigos{
    width: 300px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background: none;
    outline: none;
    border-color: rgb(136 134 134 / 66%);
    box-shadow: 0 5px 8px 0 rgb(136 134 134 / 66%);
    font-size: 20px;
    margin-top: 20px;
}

#btn-ver-artigos:hover{
    width: 355px;
    box-shadow: 0 10px 16px 0 rgb(136 134 134 / 66%);
    border-color: rgba(112, 112, 112, 0.63);
    transition: 0.5s;
}

.ver-artigos-container{
    margin-left: -120px;
}

@media (min-width:320px) and (max-width: 1000px){
    .ver-artigos-container{
         margin-left: 0px;
    }
    #btn-ver-artigos{
        width: 340px;
        height: 65px;
        font-size: 29px;
    }
    #btn-ver-artigos:hover{
        width: 375px;
    }
    h4{
        font-size: 26px;
    }
}

.ver-artigos-container .img-artigo{
    width: 280px;
    height: 168px;
    border: 2px solid #fff;
}

.ver-artigos-container .img-artigo + h4{
    margin-top: 0px;
}

.ver-artigos-titulo{
    margin-top: 30px;
    margin-top: 25px;
    transform: scale(1.25);
}

/* Slide */

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.socialSlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #514f4f;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev{
  margin-left: -50px;
}
@media (min-width:320px) and (max-width: 1000px){
    .prev{
        margin-left: -25px;
        font-size: 28px;
    }
    .next{
        font-size: 28px;
        right: -25 !important;
    }
}
.next {
  right: -50;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media (min-width:320px) and (max-width: 1000px){
    .dot{
        height: 20px;
        width: 20px;
    }
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Gabriel Tessarini */
